# Multiple Regression with category variables

In [1]:
## Loading the Data

In [3]:
gfr <- read.delim("data/GlastonburyFestivalRegression.dat", stringsAsFactors=T,header=T)

head(gfr)

  ticknumb music                  day1 day2 day3 change
1 2111     Metaller               2.65 1.35 1.61 -1.04
2 2229     Crusty                 0.97 1.41 0.29 -0.68
3 2338     No Musical Affiliation 0.84   NA   NA    NA
4 2384     Crusty                 3.03   NA   NA    NA
5 2401     No Musical Affiliation 0.88 0.08   NA    NA
6 2405     Crusty                 0.85   NA   NA    NA

In [4]:
summary(gfr)

    ticknumb                       music          day1            day2
 Min.   :2111   Crusty                :194   Min.   :0.020   Min.   :0.0000
 1st Qu.:3096   Indie Kid             :102   1st Qu.:1.312   1st Qu.:0.4100
 Median :3620   Metaller              :177   Median :1.790   Median :0.7900
 Mean   :3616   No Musical Affiliation:337   Mean   :1.771   Mean   :0.9609
 3rd Qu.:4155                                3rd Qu.:2.230   3rd Qu.:1.3500
 Max.   :4765                                Max.   :3.690   Max.   :3.4400
                                                             NA's   :546
      day3            change
 Min.   :0.0200   Min.   :-2.550
 1st Qu.:0.4400   1st Qu.:-1.130
 Median :0.7600   Median :-0.560
 Mean   :0.9765   Mean   :-0.675
 3rd Qu.:1.5250   3rd Qu.:-0.255
 Max.   :3.4100   Max.   : 1.040
 NA's   :687      NA's   :687

## Set dummy coding using **contr.treatment()** function
There are 4 groups, and Group 4 is the baseline.

In [5]:
contrasts(gfr$music) <- contr.treatment(4,base=4)

attributes(gfr$music)

$levels
[1] "Crusty"                 "Indie Kid"              "Metaller"
[4] "No Musical Affiliation"

$class
[1] "factor"

$contrasts
                       1 2 3
Crusty                 1 0 0
Indie Kid              0 1 0
Metaller               0 0 1
No Musical Affiliation 0 0 0

## Set dummy coding manually

### See the leveles

In [6]:
attributes(gfr$music)

$levels
[1] "Crusty"                 "Indie Kid"              "Metaller"
[4] "No Musical Affiliation"

$class
[1] "factor"

$contrasts
                       1 2 3
Crusty                 1 0 0
Indie Kid              0 1 0
Metaller               0 0 1
No Musical Affiliation 0 0 0

Note there are 4 groups ('Crusty','Indie Kid''Metaller''No Musical Affiliation').<br>
And Pay attention to their orders.

### create codings

In [7]:
crusty_v_NMA<-c(1,0,0,0)
indie_v_NMA<-c(0,1,0,0)
metal_v_NMA<-c(0,0,1,0)

Note that each variables is a **column** of the coding table , **not row**!!

### set the contrasts

In [8]:
contrasts(gfr$music)<-cbind(crusty_v_NMA,indie_v_NMA,metal_v_NMA)

attributes(gfr$music)

$levels
[1] "Crusty"                 "Indie Kid"              "Metaller"
[4] "No Musical Affiliation"

$class
[1] "factor"

$contrasts
                       crusty_v_NMA indie_v_NMA metal_v_NMA
Crusty                            1           0           0
Indie Kid                         0           1           0
Metaller                          0           0           1
No Musical Affiliation            0           0           0

In [9]:
round(tapply(gfr$change,gfr$music,mean,na.rm=T),3)

                Crusty              Indie Kid               Metaller
                -0.966                 -0.964                 -0.526
No Musical Affiliation
                -0.554

In [10]:
glastonburyModel <- lm(change ~ music, data=gfr)

summary(glastonburyModel)

Call:
lm(formula = change ~ music, data = gfr)

Residuals:
     Min       1Q   Median       3Q      Max
-1.82569 -0.50489  0.05593  0.42430  1.59431

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)       -0.55431    0.09036  -6.134 1.15e-08 ***
musiccrusty_v_NMA -0.41152    0.16703  -2.464   0.0152 *
musicindie_v_NMA  -0.40998    0.20492  -2.001   0.0477 *
musicmetal_v_NMA   0.02838    0.16033   0.177   0.8598
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.6882 on 119 degrees of freedom
  (687 observations deleted due to missingness)
Multiple R-squared:  0.07617,	Adjusted R-squared:  0.05288
F-statistic:  3.27 on 3 and 119 DF,  p-value: 0.02369